/** Colors *******************************************/
$bg: #3c3836;
$bg-alt: #04181a;
$fg: #293b4c;
$fg-alt: #0b484e;
$red: #db4b4b;
$green: #9ece6a;
$yellow: #e0af68;
$orange: #ff9e64;
$blue: #2d555b;
$purple: #9d7cd8;
$cyan: #7dcfff;
$gray: #565f89;
$gray-alt: #292e42;

@import "./System-Menu/eww.scss";
@import "./Player/eww.scss";
@import "./Misc/eww.scss";
@import "./Main/eww.scss";
